body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  visibility: hidden;
  margin: 0;
  height: 0;
}

.button {
  color: #ffffff;
  background-color: #fb565a;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  font-weight: 500;
  line-height: 18px;
  cursor: pointer;
  outline: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(255, 255, 255, 0.3);
}

.green {
  background-color: #00ca74;
}

.green:hover,
.green:focus {
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.yellow {
  background-color: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}

.yellow:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #e5a722;
}




/**HEADER**/



.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-navigation {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 438px;
  margin: 0;
  padding: 0;
  padding-top: 6px;
  padding-right: 22px;
}

.site-navigation a,
.cart-link {
  color: #000000;
  outline: none;
}

.cart-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 115px;
  height: 15px;
  left: 20px;
  top: 2px;
}

.cart-link::before {
  content: '';
  width: 15px;
  height: 15px;
  background-image: url(../img/basket-icon.svg);
  opacity: 0.3;
}

.site-navigation a:hover,
.site-navigation a:focus,
.cart-link:hover,
.cart-link:focus {
  color: #fb565a;
}

.site-navigation a:active,
.cart-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.active-page {
  position: relative;
}

.active-page::before {
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #fb565a;
}

.container {
  position: relative;
}

/**SLIDER**/



.features-slider {
  background-color: #eeeeee;
  padding-top: 8px;
  position: relative;
}

.features-slider-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-width: 1140px;
  height: 413px;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

.feature-slider-item {
  min-width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  left: 0px;
  transition: ease-in-out 0.5s;
}

.slide-one {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 97.8% top;
}

.slide-two {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.slide-three {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: right top;
}

.slider-item-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  font-stretch: normal;
  font-style: normal;
  margin: 0;
  margin-bottom: 26px;
  margin-top: 60px;
}

.slider-item-desc {
  color: #283136;
  margin: 0;
  margin-bottom: 38px;
}

.button-more {
  display: block;
  width: 240px;
  height: 50px;
  text-align: center;
  line-height: 3.2;
}

.slider-buttons-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  left: 50.4%;
  bottom: 96px;
  transform: translateX(-50%);
}

.slider-item-button {
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 17px;
}

.slider-item-button:last-child {
  margin-right: 0;
}

.slider-btn {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.active-slider-button {
  background-image: url(../img/active-button.svg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

/**SERVICES**/

.services {
  padding-top: 80px;
  padding-bottom: 80px;
  position: relative;
}

.services::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.services-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.services-list {
  list-style: none;
  max-width: 1100px;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-item {
  width: 300px;
}

.service-item-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 18px;
  margin-bottom: 16px;
}

.service-item p {
  color: #283136;
  max-width: 250px;
  margin: 0;
}

.service-button {
  width: 160px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 33px;
}


/**ABOUT US**/


.about {
  padding-bottom: 59px;
  position: relative;
}

.about::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.about-wrapper {
  width: 1140px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  width: 650px;
  padding-top: 22px;
  margin-right: 20px;
}

.about-title {
  margin-top: 55px;
  margin-bottom: 34px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-desc {
  color: #283136;
  margin-bottom: 38px;
}

.about-info {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 22px;
}

.about-info-list {
  list-style: none;
}

.about-info-item {
  color: #283136;
  margin-bottom: 24px;
  position: relative;
  left: -3px;
}

.about-info-item:last-child {
  margin-bottom: 0;
}

.about-info-item::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -36px;
  transform: translateY(-50%);
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.about-illustration {
  width: 360px;
  padding-top: 32px;
  padding-left: 20px;
  box-sizing: border-box;
}

.about-illustration-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 32px;
  position: relative;
  left: 10px;
}

.about-illustration-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.about-illustration-item {
  width: 105px;
}

.about-illustration-item p {
  margin: 0;
  margin-top: 16px;
}

.about-illustration-item .number,
.percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 10px;
  margin: 0;
}

.percent {
  font-size: 24px;
  vertical-align: 0.7em;
}

.illustration-item-desc {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #283136;
  margin-top: 20px;
  margin-left: 2px;
}


/**PARTNERS**/


.partners {
  position: relative;
  height: 184px;
}

.partners::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1160px;
  height: 2px;
  background-color: #eeeeee;
}

.partners-list {
  list-style: none;
  max-width: 1140px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-sizing: border-box;
}

.partner-item {
  position: relative;
  height: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.partner-item::before {
  content: '';
  height: 52px;
  width: 2px;
  background-color: #eeeeee;
  position: absolute;
  right: -50px;
  top: 50%;
  transform: translateY(-50%);
}

.partner-item:last-child::before {
  display: none;
}

.partner-item a {
  opacity: 0.2;
  outline: none;
}

.partner-item a:hover,
.partner-item a:focus {
  opacity: 1;
}

.partner-item a:active {
  opacity: 0.1;
}

.partner-item:first-child a {
  height: 68px;
  position: relative;
  top: 6px;
}

.partner-item:nth-child(2) a {
  height: 90px;
  position: relative;
  right: 8px;
}

.partner-item:nth-child(3) {
  height: 52px;
  position: relative;
  right: 8px;
  top: 4px;
}

.partner-item:last-child {
  height: 84px;
  position: relative;
  top: 6px;
  left: 8px;
}

.partner-item:first-child::before {
  right: -52px;
}

.partner-item:nth-child(2)::before {
  right: -39px;
}

.partner-item:nth-child(3)::before {
  right: -57px;
  top: 47%;
}

/**CONTACTS**/


.contacts {
  position: relative;
  padding-top: 80px;
}

.contacts-text-wrapper {
  width: 1140px;
  height: 416px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  pointer-events: none;
}

.contacts-text {
  width: 319px;
  height: 308px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  z-index: 1;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 50px;
  box-sizing: border-box;
  pointer-events: visible;
}

.contacts-title {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 22px;
}

.contacts-address,
.contacts-phone,
.contacts-phone a {
  line-height: 18px;
  color: #666666;
  margin: 0;
}

.contacts-address {
  margin-bottom: 18px;
  margin-left: 2px;
}

.contacts-phone {
  margin-left: 2px;
}


.contacts-button {
  width: 219px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 40px;
}


/**FOOTER**/


.main-footer {
  width: 1140px;
  height: 217px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.social-icons-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  padding: 0;
  margin: 0;
  margin-right: 140px;
}

.social-icon-item {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-icon-item:hover,
.social-icon-item:focus {
  background-color: #e74246;
  outline: none;
}

.social-icon-item:active {
  background-color: #d7373b;
}

.social-icon-item:active img {
  opacity: 0.3;
}

.social-icon-item a {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.footer-text {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #444444;
  margin: 0;
  margin-top: 12px;
}


/**FEEDBACK_FORM**/


.feedback-container {
  display: none;
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  width: 960px;
  height: 590px;
  box-sizing: border-box;
  padding-top: 73px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  box-shadow: 0px 20px 40px 0 rgba(0, 1, 1, 0.75);
  z-index: 10;
}

.feedback-title {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 0;
  margin-bottom: 49px;
}

.feedback-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  margin: 0;
  padding: 0;
  height: 255px;
}

.feedback-item:nth-child(3) {
  margin-top: 26px;
}

.feedback-item label {
  font-weight: 700;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.feedback-item input {
  width: 360px;
  height: 50px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding-left: 15px;
  box-sizing: border-box;
}

.feedback-item input::placeholder,
.feedback-item textarea::placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback-item textarea {
  width: 760px;
  height: 104px;
  border: 2px solid #d7dcde;
  border-radius: 2px;
  padding-left: 15px;
  padding-top: 14px;
  box-sizing: border-box;
  resize: none;
}

.feedback-item input:hover,
.feedback-item textarea:hover {
  border-color: #b4b9bb;
}

.feedback-item input:focus,
.feedback-item textarea:focus {
  border-color: #000000;
  outline: black;
}

.feedback-item input:focus::placeholder,
.feedback-item textarea:focus::placeholder {
  color: #444444;
}

.feedback-item input:invalid {
  border-color: #e74246;
}

.feedback-item input:invalid::placeholder {
  color: #e74246;
}

.feedback-button {
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 47px;
}

.feedback-close {
  border: none;
  background-color: transparent;
  width: 21px;
  height: 21px;
  opacity: 0.3;
  position: absolute;
  top: 78px;
  right: 90px;
  cursor: pointer;
}

.feedback-close::before {
  content: url(../img/close-cross.svg);
  width: 21px;
  height: 21px;
  position: absolute;
  top: 0;
  left: 0;
}

.feedback-close:hover,
.feedback-close:focus {
  opacity: 1;
}

.feedback-close:active {
  opacity: 0.1;
}

.form-open {
  display: block;
}

/**CATALOG**/

.catalog-wrapper {
  max-width: 1160px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 54px;
}

/*filters*/

.page-title {
  background-color: #eeeeee;
  margin-top: 0;
  padding-top: 68px;
  padding-left: 16px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0;
  text-align: center;
}

.filter {
  padding-left: 8px;
}

.filters h3 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filters ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.filters label {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.filter-option {
  margin-bottom: 15px;
}

.filter-range {
  width: 261px;
  padding: 0;
  border: none;
}

.filter-range h3 {
  margin: 0;
  margin-bottom: 46px;
}

.range-controls {
  position: relative;
  background-color: #eeeeee;
  height: 81px;
  border-radius: 3px;
}

.range-controls .scale {
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.range-toggle {
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  width: 20px;
  height: 23px;
  margin-top: 2px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.range-toggle-min {
  left: 18px;
}

.range-toggle-max {
  left: 160px;
}

.price-controls {
  margin-top: 13px;
  width: 261px;
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.price-controls input[type="text"] {
  width: 82px;
  height: 38px;
  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.price-controls input[name="min-price"] {
  margin-left: 11px;
}

.price-controls input[name="max-price"] {
  margin-left: 13px;
}

.price-controls input[value] {
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #283136;
}

.filter-grid {
  padding: 0;
  border: none;
}

.filter-grid h3 {
  margin-top: 54px;
  margin-bottom: 13px;
}

.filter-grid input[type="radio"]+label {
  position: relative;
  margin-left: 19px;
  cursor: pointer;
}

.filter-grid input[type="radio"]+label::before {
  content: '';
  background-image: url(../img/radio-off.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  opacity: 0.4;
}

.filter-grid input[type="radio"]+label:hover::before {
  opacity: 1;
}

.filter-grid input[type="radio"]:checked+label::before {
  background-image: url(../img/radio-on.svg);
}

.filter-features {
  padding: 0;
  border: none;
}

.filter-features h3 {
  margin-top: 30px;
  margin-bottom: 15px;
}

.filter-features input[type="checkbox"]+label {
  position: relative;
  margin-left: 18px;
  cursor: pointer;
}

.filter-features input[type="checkbox"]+label::before {
  content: '';
  background-image: url(../img/checkbox-off.svg);
  background-position: center center;
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  opacity: 0.4;
}

.filter-features input[type="checkbox"]+label:hover::before {
  opacity: 1;
}

.filter-features input[type="checkbox"]:checked+label::before {
  background-image: url(../img/checkbox-on.svg);
  left: -33px;
}

.filter-features input[type="checkbox"]:disabled+label::before,
.filter-grid input[type="radio"]:disabled+label::before {
  opacity: 0.1;
}

.filter-button {
  background-color: #eeeeee;
  color: #000000;
  margin-top: 36px;
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 2px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  background-color: #d5d5d5;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  color: rgba(0, 0, 0, 0.3);
}


/*sorting*/

.catalog {
  width: 760px;
}

.sorting {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sorting h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 59px;
  flex-grow: 2;
  margin-left: 10px;
}

.sorting-list-one {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 282px;
}

.sorting-list-one button {
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  cursor: pointer;
}

.sorting-list-one button:hover {
  opacity: 0.6;
}

.sorting-list-one button:active {
  opacity: 1;
}

.sorting-list-one .is-active-sort-button {
  opacity: 1;
}

.sorting-list-two {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 30px;
  margin-left: 43px;
}

.dir-down {
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-down-dir.svg);
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  margin-right: 18px;
}

.dir-up {
  width: 11px;
  height: 10px;
  background-image: url(../img/icon-up-dir.svg);
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
}

.dir-is-active {
  opacity: 1;
}

.dir-down:active,
.dir-up:active {
  opacity: 1;
}


/*catalog-list*/


.catalog-list {
  width: 100%;
  height: 1880px;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-top: 36px;
  margin-left: 10px;
}

.catalog-item {
  position: relative;
  width: 360px;
}

.catalog-item::after {
  content: '';
  width: 360px;
  height: 40px;
  background-color: #ffffff;
  position: absolute;
  top: -40px;
  left: 0;
}

.catalog-item::before {
  content: '';
  width: 360px;
  height: 40px;
  background-image: url(../img/browser.svg);
  position: absolute;
  top: -39px;
  left: 0;
  opacity: 0.12;
  z-index: 9;
}

.catalog-item:hover::before,
.catalog-item:focus::before {
  opacity: 1;
}

.catalog-item .item-text {
  background-color: #eeeeee;
  position: absolute;
  bottom: 5px;
  width: 360px;
  height: 231px;
  text-align: center;
  visibility: hidden;
  box-sizing: border-box;
  padding-top: 35px;
  padding-bottom: 43px;
}

.catalog-list .item-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 26px;
}

.item-title a {
  color: #000000;
}

.item-title a:hover,
.item-title a:focus {
  color: #fb565a;
}

.item-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list .item-desc {
  line-height: 18px;
  color: #666666;
  margin: 0;
  margin-bottom: 30px;
}

.catalog-item:hover .item-text {
  visibility: visible;
}

.item-price-button {
  display: inline-block;
  text-align: center;
  width: 200px;
  line-height: 3;
}

.pagination-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  margin-top: 56px;
  margin-bottom: 60px;
  margin-left: 10px;
}

.pagination-item {
  margin-right: 11px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item button {
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}

.pagination-item button[name="next"] {
  width: 260px;
}

.pagination-item button:hover,
.pagination-item button:focus {
  background-color: #dfdfdf;
  border-color: #dfdfdf;
}

.pagination-item button:active {
  width: 50px;
  height: 50px;
  border: none;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-item button[name="next"]:active {
  width: 260px;
}

.pagination-item-current button {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

.inner-page .contacts {
  padding-top: 0;
}